.messages__interval {
  top: 90px;
  right: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.message__container {
  animation: fadeInRight 1s ease-in-out;
  background-color: #25235c;
  min-width: 300px;
  width: fit-content;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.message__header {
  background-color: #fff;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin: 0;
  color: #25235c;
  padding: 10px;
}
.message__close__btn {
  border: none;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: -10px;
  right: -2px;
  cursor: pointer;
  width: 35px;
}
.message__content {
  padding: 5px;
  margin: 0;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}
