.dashboard__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.cards__container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 40px;
}

.card__container {
  background-color: #25235c;
  width: 400px;
  height: 450px;
  border-radius: 10px;
  border-left: 8px solid #f7e01c;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.card__actions {
  position: absolute;
  right: -20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f7e01c;
  padding: 5px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card__actions img {
  width: 30px;
  cursor: pointer;
}

.card__profile {
  border: 2px solid #f7e01c;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.card__profile img {
  object-fit: contain;
  width: 100%;
  display: block;
  z-index: 10;
}

.card__main__info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 10px 0;
}
.card__main__info p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.card__name {
  font-size: 20px;
  font-weight: 700;
}

.card__role {
  font-size: 16px;
  color: #aaa;
}

.card__bio {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
}

.card__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.card__email,
.card__phone {
  background-color: #6c62ba;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.card__contact img {
  width: 15px;
}

.add__button {
  background-color: #25235c;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.add__button img {
  width: 30px;
}
