<div class="customers__container">
  <h1 class="dashboard__header">Welcome {{ loggedInUser }} to the dashboard</h1>
  <button class="add__customer__button" routerLink="/add-customer">
    Add Customer <span class="button__add__icon">+</span>
  </button>
  <table class="customers__table">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.name }}</td>
      <td>{{ customer.age }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.role }}</td>
      <td>
        <button
          class="customer__delete__btn"
          (click)="deleteCustomer(customer.id)"
        >
          Delete
        </button>
        <a
          class="customer__show__btn"
          routerLink="/customer-details/{{ customer.id }}"
        >
          Show More
        </a>
        <a
          class="customer__show__btn"
          routerLink="/update-customer/{{ customer.id }}"
        >
          Update
        </a>
      </td>
    </tr>
  </table>
</div>
