<div class="dashboard__container">
  <button class="add__button" routerLink="/add-customer">
    Add Customer <img src="../../assets/icons/add.png" />
  </button>
  <div class="cards__container">
    <div class="card__container" *ngFor="let customer of customers">
      <div class="card__actions">
        <a routerLink="/customer-details/{{ customer.id }}">
          <img src="../../assets/icons/more.png" />
        </a>
        <a routerLink="/update-customer/{{ customer.id }}">
          <img src="../../assets/icons/edit.png" />
        </a>
        <img
          src="../../assets/icons/delete.png"
          (click)="deleteCustomer(customer.id)"
        />
      </div>
      <div class="card__profile">
        <img
          [src]="
            'https://avatars.dicebear.com/api/adventurer/' +
            customer.name +
            '.svg'
          "
        />
      </div>
      <div class="card__main__info">
        <p class="card__name">{{ customer.name }}</p>
        <p class="card__role">{{ customer.role }}</p>
      </div>
      <div class="card__bio">
        {{ customer.name }} he is {{ customer.age }} years old, and he is
        working as {{ customer.role }}.
      </div>
      <div class="card__contact">
        <div class="card__email">
          <img src="../../assets/icons/email.png" />
          {{ customer.email }}
        </div>
        <div class="card__phone">
          <img src="../../assets/icons/phone.png" />
          {{ customer.phone }}
        </div>
      </div>
    </div>
  </div>
</div>
